In [9]:
import pandas as pd
import textstat
from tqdm import tqdm

textstat.set_lang('en')

In [80]:
csv_filename = "all_utterances.json"
data_df = pd.read_json(csv_filename)

In [81]:
data_df

,dataset,filename,age,languages,is_bilingual,plain_utterances
0,English_Bilingual_Grade2_Audio,11221425.cha,"[[8, 3, 0]]",[eng],True,[the boy and the dog were looking at the frog ...
1,English_Bilingual_Grade2_Audio,11222222.cha,"[[8, 2, 0]]",[eng],True,"[the boy went to sleep ., and the frog jumped ..."
2,English_Bilingual_Grade2_Audio,11222306.cha,"[[7, 9, 0]]",[eng],True,[one night the boy and the dog were looking at...
3,English_Bilingual_Grade2_Audio,12122227.cha,"[[8, 5, 0]]",[eng],True,"[the dog and the boy is sleeping ., the frog i..."
4,English_Bilingual_Grade2_Audio,12222013.cha,"[[8, 0, 0]]",[eng],True,"[there was this boy ., he got a a pet that's P..."
...,...,...,...,...,...,...
142,English_Monolingual_Grade5,32332152.cha,"[[11, 0, 0]]",[eng],False,[a boy his dog and his pet frog are in a room ...
143,English_Monolingual_Grade5,32332266.cha,"[[11, 11, 0]]",[eng],False,[the boy is watching his dog looking at the fr...
144,English_Monolingual_Grade5,32332283.cha,"[[11, 3, 0]]",[eng],False,[the dog is looking into a jar that has a frog...
145,English_Monolingual_Grade5,42331438.cha,"[[11, 0, 0]]",[eng],False,[the boy and his dog are looking at the frog ....
146,English_Monolingual_Grade5,42332310.cha,"[[11, 2, 0]]",[eng],False,[one day a boy found a frog and brought it hom...

In [84]:
kf_total = []
spache_total = []

for file in tqdm(range(len(data_df))):
    kf_ease = []
    spache_ease = []
    for sentence in data_df['plain_utterances'][file]:
        clean_sentence = sentence.replace("POSTCLITIC", "")
        kf_ease.append(textstat.flesch_reading_ease(clean_sentence))
        spache_ease.append(textstat.spache_readability(clean_sentence))
    kf_total.append(kf_ease)
    spache_total.append(spache_ease)

  0%|          | 0/147 [00:00<?, ?it/s]

100%|██████████| 147/147 [00:00<00:00, 624.36it/s]

In [87]:
data_df['kf_ease'] = kf_total
data_df['spache_ease'] = spache_total
data_df['kf_ease_avg'] = [sum(x)/len(x) for x in kf_total]
data_df['spache_avg'] = [sum(x)/len(x) for x in spache_total]

In [91]:
order = ['dataset', 'filename', 'kf_ease_avg', 'spache_avg', 'kf_ease', 'spache_ease', 'plain_utterances']
data_df[order].to_csv('Score_df.csv', index=False)